html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
}

a:hover {
    color: coral;
    transition: 1s;
}

/*Header section*/
header {
    width: 100%;
    border: 0;
    background-color: black;
    opacity: 0.9;
    position: fixed;
    z-index: 10;
}


.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.logo {
    height: 50px;
    padding-left: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .navbutton {
    text-decoration: underline;
    padding: 0px 15px;
}

/*Mission statement section*/
.cheat-block {
    display: inline-block;
    height: 65px;
    width: 100%;
}

.mission-section {
    height: 700px;
    max-width: 1200px;
    margin: auto;
    background-image: url(../images/img-mission-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.mission-text {
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: auto;
}

.mission-section h2 {
    text-align: center;
    line-height: 0.5em;
}

.mission-section h4 {
    text-align: center;
    
}

/*Tea section*/
.tea-section {
    max-width: 1200px;
    margin: auto;

}

.tea-text h2 {
    text-align: center;
}

.tea-text h4 {
    text-align: center;
}

.tea-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-pictures img {
    margin: 0px 20px;
}

.tea-pictures h4 {
    margin: 10px 0px 20px;
    text-align: center;
}

/*Locations section*/
.location-section {
    height: 500px;
    max-width: 1200px;
    margin: auto;
    background-image: url(../images/img-locations-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.location-section h2 {
    position: absolute;
    margin-top: 50px; /*could not figure out a way to do this as in design (margin relative to container below)*/
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.location-containers {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-container {
    width: 300px;
    height: 300px;
    margin: 15px 20px;
    text-align: center;
    background-color: black;
    opacity: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

@media only screen and (max-width: 500px) {

    .location-section h2 {
        margin-top: 20px;
    }

    .location-containers {
        flex-flow: column;
        justify-content: flex-end;
        margin: 3px;
    }

    .location-container {
        width: 180px;
        height: 140px;
        font-size: 0.5em;
        margin: 2px;
    }
}

/*footer section*/
.contact-info {
    height: 200px;
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.copyright-info {
    max-width: 1200px;
    margin: auto;
    margin-left: 20px;
    text-align: left;
}